/*-------------------------------------------------
GLOBALS CLASSES
-------------------------------------------------*/
*{
  margin: auto;
  padding: 0;
}
@media screen and (min-width: 1081px){
  /* for PC */
  html{
    font-size: 1vw;
  }
}
@media screen and (max-width: 1080px){
  /* for tablet PC*/
  html{
    font-size: 2vw;
  }

}
@media screen and  (max-width: 480px){
  /* for smartphone */
  html{
    font-size: 3.4vw;
  }
}
body{
  background-color: #eeeeee;
}
a{
  color: #424242;
  text-decoration-line: none;
}
h1{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color:#424242;
}
h2{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color:#424242;
}
p{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color:#424242;
}
*//*---------------------------------------
GENERAL CLASS
----------------------------------------*/
.clear{
  clear: both;
}
.overall{
  padding: 5%;
}
@media screen and (min-width: 1081px){
  .overall{
    width: 40%;
  }
}
/*-------------------------------------------------
HEADER CLASSES
-------------------------------------------------*/
.header-logo{
  width: 100%; 
  text-align: center;
}
/*-------------------------------------------------
LINK CLASSES
-------------------------------------------------*/
.link-wrapper{
  height: 2rem;
  width: 100%;            
  margin: 0.5% 0 2.5%;
}
.link-wrapper ul {
  height: 100%;                  
  display: flex;
}
/* width = (100 / 要素数) % */
.link-wrapper ul li{
  width: calc(100% / 7);       
  height: 100%;
  float: left;
  text-align: center;
  margin: 0 calc(100% / (7 * 4));
  list-style-type: none;                   
}
/*-------------------------------------------------
MENU CLASSES
-------------------------------------------------*/
.menu{
  width: 90%;
  margin: 1% auto;
  letter-spacing: 1rem;
  text-indent: 0rem;
  text-align: left;
}
/*-------------------------------------------------
CONTENT CLASSES
-------------------------------------------------*/
.content{
  margin: auto;
  width: 90%;
  text-align: left;  
  overflow: hidden;
}
.content h1{
  font-size: 1.5rem;
  letter-spacing: 0em;
  text-indent: 0em;
  margin: 2% 0;
}
.content h2{
  margin: 2% 0;
}
.content p{
  margin: 2% 0;
}
.content ul {
  width: 100%;
}
.content ul li{
  width: calc((100% / 3) - 2%);
  display: inline;
  float: left;
  margin: 1%;
  list-style-type: none;
}

/*-------------------------------------------------
SLIDE ANIMATION
-------------------------------------------------*/
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.header-logo, .link-wrapper, .menu, .content{
  animation-name: slide-up;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes link-blinking {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.link-wrapper ul li a:hover, .menu h1:hover, .content a:hover{
  animation-name: link-blinking;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#keyvisual {
  overflow: hidden
}
