/*-------------------------------------------------
GLOBALS CLASSES
-------------------------------------------------*/
*{
  margin: auto;
  padding: 0;
}
body{
  background:#fff;
}
a{
  color: #000;
  text-decoration-line: none;
}
h1{
  font-family: 'Noto Sans Japanese', sans-serif;
  font-weight: 900;
  font-size: 40px;
  color:#000;
}
h2{
  font-family: 'Noto Sans Japanese', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color:#000;
}
p{
  font-family: 'Noto Sans Japanese', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color:#000;
}
*//*---------------------------------------
GENERAL CLASS
----------------------------------------*/
.clear{
  clear: both;
}
.overall{
  padding: 1%;
}
@media screen and (min-width: 1100px){
  .overall{
    width: 1100px;
    margin: auto;
    padding: 1%;
  }
}
/*-------------------------------------------------
HEADER CLASSES
-------------------------------------------------*/
.header-logo{
  width: 100%; 
  text-align: center;
}
/*-------------------------------------------------
LINK CLASSES
-------------------------------------------------*/
.link-wrapper{
  height: 30px;
  width: 100%;            
  margin: 2% 0;
}
.link-wrapper ul {
  height: 100%;                  
  display: flex;
}
/* width = (100 / 要素数) % */
.link-wrapper ul li{
  width: calc(100% / 8);       
  height: 100%;
  float: left;
  margin-left: calc(100% / (8 * 2));
  list-style-type:none;                   
}
/*-------------------------------------------------
MENU CLASSES
-------------------------------------------------*/
.menu{
  width: 100%;
  margin: 1% 0;
  text-align: center;
}
/*-------------------------------------------------
CONTENT CLASSES
-------------------------------------------------*/
.content{
  width: 100%;
  text-align: center;        
  overflow: hidden;
}
.content h1{
  font-size: 24px;
  margin: 2% 0;
}
.content h2{
  margin: 2% 0;
}
.content p{
  margin: 2% 0;
}
.content a:hover{
  color: #ffffff
}
/*
.content ul {
  width: 100%;
}
.content ul li{
  width: calc((100% / 3) - 2%);
  display: inline;
  float: left;
  margin: 1%;
  list-style-type: none;
}
*/
/*-------------------------------------------------
SLIDE ANIMATION
-------------------------------------------------*/
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.header-logo, .link-wrapper, .menu, .content, .blog{
  animation-name: slide-up;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes link-blinking {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.link-wrapper ul li a:hover, .menu h1:hover, .blog h1:hover{
  animation-name: link-blinking;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#keyvisual {
  overflow: hidden
}
